button {
    background: #2de0bc;
    border: 2px solid transparent;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
button:hover {
    border: 2px solid #2de0bc;
    color: #2de0bc;
    background: transparent;
    transition: .4s;
}
.productName {
    margin-top: 150px;
    text-align: center;
   /* position: relative;
    */
}
.productName ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px;
}
ul.productBox {
    display: flex;
    flex-direction: column;
    padding: 0 0 10px 0;
    border-radius: 10px;
    border: 2px solid #a5282800;
}
ul.productBox:hover {
    border: 2px solid #2de0bc85;
    box-sizing: border-box;
}
.productBox img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}
.sortSelect select {
    padding: 10px;
}
.cartSummary {
    margin-top: 200px;
    text-align: center;
}
.productsAndFilter {
    display: flex;
    flex-direction: row;
}
.productContainer {
    display: flex;
    flex-direction: row;
}
.sortSelect {
    max-width:1180px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.productDetailContainer {
    margin-top: 200px;
    text-align: center;
}
.burgerButton {
    padding: 10px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-top: 25px;
}
footer {
    background-color: #fff;
    width: 100%;
    overflow: hidden;
    position:fixed;
    left: 0;
    bottom:0;
}
footer:before {
    content: "";
    display: block;
    height: 2px;
    background: #2de0bc85;
}
.footerContent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1180px;
    margin: 0 auto;
    ;
}
.footerContent ul li {
    margin-top: 10px;
    font-size: 20px;
}
.bottomText {
    margin: 20px 0;
    text-align: center;
}
.logo {
    position: relative;
    top: 20px;
    left: 10px;
    width: 90px;
}
nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 100%;
    z-index: 5;
}
nav > ul {
    display: flex;
    justify-content: space-evenly;
    gap: 20px 
}
nav ul li {
    margin-bottom: 40px;
}
nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
nav ul li a:hover {
    color: #2de0bc85;
    transition: .2s;
}
nav ul li.active a {
    color: #2de0bc;
}
.navigation button {
    position: absolute;
    right: 5%;
    top: 55px 
}
.App {
    max-width: 1180px;
    margin: 0 auto;
}
.alert {
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    padding: 20px 20px 60px 20px;
    background: #fff;
    border: 2px solid #2de0bc;
    border-radius: 10px;
}
.alert button {
    display: block;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
}
.typeOfFilters button {
    background: #2de0bc;
    color: #000;
    border: none;
    padding: 10px 100px;
    border-radius: 3px;
    transition: 2s;
}
.filter-component {
    opacity: 0;
    height: 0;
    transition: opacity 0.4s ease-in-out, height 0.4s ease-in-out;
}
.filter-component.show {
    opacity: 1;
    height: auto;
}
.typeOfFilters {
    width: 220px;
}
.filters {
   /* margin-top: 200px;
    */
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    width: 220px;
    background-color: #2de0bc98;
    border-radius: 5px;
}
.filters h2 {
    font-weight: bold;
    font-size: 26px;
    margin: 10px 0;
    text-transform: capitalize;
}
.filters h2:not(:nth-of-type(1)):before {
    content: "";
    display: block;
    height: 2px;
    width: 210px;
    background: #000;
    margin-bottom: 20px;
}
.filters label {
    text-align: left;
    margin-left: 20px;
}
.menuButton {
    visibility: hidden;
}
.product {
    margin-bottom: 200px;
}
.product ul li {
    font-size: 20px;
}
.product ul li:not(:nth-of-type(1)) {
    padding: 5px 10px;
    text-align: left;
}
.product ul li span {
    text-transform: uppercase;
    font-size: 15px;
    display: block;
}
.product ul li.cart {
    text-align: center;
}
.product ul li a {
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
.product ul li a:hover {
    color: #2de0bc;
}
.termAndConditions, .privasyAndPolisy {
    margin-top: 150px 
}
.mobileMenu ul li {
    position: relative;
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .5s;
}
.productDetailContainer .productBox li {
    margin-bottom: 10px;
}
.cartSummary {
    margin-bottom: 200px;
}
.menuButton svg, .close-button svg {
    font-size: 30px;
}
@media only screen and (max-width: 1250px) {
    .product ul li {
        font-size: 15px;
   }
    .product ul li span {
        display: block;
   }
    .productContainer {
        padding:20px;
   }
    .sortSelect {
        max-width: 900px;
   }
    .footerContent {
        justify-content: space-evenly;
   }
    .App {
        max-width: 1000px;
   }
    nav ul li a {
        font-size: 13px;
   }
    .navigation li:last-child {
        margin-right: 20px;
   }
    .productBox img {
        width: 300px;
        height: 300px;
        border-radius: 10px;
   }
}
@media only screen and (max-width: 1100px) {
    .productBox img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
   }
}
@media only screen and (max-width: 769px) {
    .navigation nav ul li {
        visibility: hidden;
   }
    .productDetailContainer {
        margin-bottom: 200px;
   }
    .menuButton {
        visibility: visible;
   }
    .productContainer {
        flex-direction: column;
   }
    .mobileMenu ul li {
        position: relative;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        transition: .2s;
   }
    .mobileMenu {
        background: #2de0bc;
        z-index: 20;
        position: fixed;
        top: 0;
        left: 20%;
        bottom: 0;
        overflow: hidden;
        width: 80%;
   }
    .mobileMenu ul {
        width: 300px;
        margin: 50px auto;
        text-align: center;
   }
    .mobileMenu ul li {
        margin: 15px 0;
        font-size: 20px;
   }
    .sortSelect {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50px;
        justify-content: space-around;
        margin-bottom: 30px;
   }
    .footerContent {
        max-width: 800px;
        text-align: center;
   }
    .sortSelect p {
        margin-bottom: 10px;
   }
    .sortSelect select {
        width: 300px;
       /* margin: 0 auto;
        */
   }
    .productsAndFilter {
        flex-direction: column;
        align-items: center;
   }
    .productName ul {
        flex-direction: column;
        gap: 10px;
   }
    .productBox img {
        width: 500px;
        height: 500px;
        border-radius: 10px;
   }
    .footerContent {
        flex-direction: column;
        align-items: center;
   }
    nav ul li a {
        font-size: 13px;
   }
    .pages {
        display: none;
   }
}
@media only screen and (max-width: 426px) {
    .loadMore {
        margin-bottom: 300px 
   }
    .productBox img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
   }
    .logo {
        left: 70px;
   }
}
@media only screen and (max-width: 390px) {
    .navigation button {
        right:15%;
   }
}
